<style>
  .hero-section-{{ section.id }}{
    background: black;
    position: relative;
    color: white;
    height: 100%;
  }
  .section-background-{{ section.id }}{
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0px;
  }
  .border-left-{{ section.id }}, .border-right-{{ section.id }}{
    position: absolute;
    border: 1px solid #EE3224;
    border-right: none;
    border-bottom: none;
    height: 38px;
    width: 38px;
    z-index: 6;
    top: 60px;
  }
  .border-left-{{ section.id }}{
    left: 58px;
   }
   .border-right-{{ section.id }}{
    right:58px;
    transform: rotate(90deg);
   }
   .section-content-{{ section.id }}{
    display: grid;
    grid-template-columns: minmax(50%, 1fr) minmax(50%, 1fr);
    padding: 120px 58px 10px 58px;
    gap:10px;
   }
</style>

<div class="hero-section-{{ section.id }}">
  <img
    src="{{ section.settings.background_image |image_url: width: 100   }}"
    width="100%"
    height="537px"
    alt=""
    class="section-background-{{ section.id }}"
  >

  {% if section.settings.showBorder == 'yes' %}
    <span class="border-left-{{ section.id }}"></span>
    <span class="border-right-{{ section.id }}"></span>
  {% endif %}

  <div class="section-content-{{ section.id }}">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "showBorder",
      "label": "Show Border",
      "options": [
        {
          "label": "Yes",
          "value": "yes"
        },
        {
          "label": "No",
          "value": "no"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "button-animation"
    },
    {
      "type": "custom-swiper"
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}
